<h2>Welcome</h2>
<h3>Пожалуйста, введите все данные для получения результата</h3>
<p></p>
<div>
    <table>
        <thead>
          <tr>
            <td>Rows</td>
            <td>Columns</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="number" name="rows" [(ngModel)]="imageData.rows" />
            </td>
            <td>
              <input type="number" name="columns" [(ngModel)]="imageData.columns" />
            </td>
          </tr>
        </tbody>
    </table>
    <input type="file" #file (change)="uploadFile(file.files)" />
    <button (click)="SendImageData()">Отправить данные</button>
    
    <div *ngIf="imageIsLoaded">
      <h4>Input image size {{imageData.imgWidth}} x {{imageData.imgHeight}}</h4>
      <p><img [src]="url" width="500" height="500"/></p>
  </div>
</div>

<div *ngIf="responseFromServer">
  <app-fragments [fragments]="fragments" [numOfFragments]="imageData.rows * imageData.columns">Loading...</app-fragments>
</div>